.dark-mode {
  background-color: #000000;
  color: white;
}
.light-mode {
  background-color: white;
  color: #000000;
  border-color: #000000;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.container {
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}

.heading {
  font-family: Roboto;
  font-size: 52px;
}

.button {
  background-color: #ffffff;
  border-radius: 10px;
  color: #000000;
  height: 36px;
}
